<!DOCTYPE html>
{% load static %}
<html>

<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="{% static 'css/styleLogin.css' %}">
<title>Story 8 Ocit</title>

</head>

<body> 
    <h1 class="Greetings">Halaman Login</h1>
    <div class="wrapper">
        
        <form class="site-form" action="{%url 'login:login'%}" method="post">
            {% csrf_token %}
            {{form}}
            <input class="login"type="submit" value="Login">
        </form>
    </div>
</body>

</html>