@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    color:blue;
}

.Greetings{
    margin-top: 1%;
    font-size: 35px;
}

.site-form{
    margin-top: 3%;
    position: absolute;
}
