@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    color:navy;
    text-align: center;
}

body{
    background: aliceblue;
}

.Greetings{
    margin-top: 3%;
    font-size: 35px;
}

.site-form{
    margin-top: 3%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
    
.wrapper{
    position: absolute;
    font-size: 25px;
    width: auto;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
input{
    margin-top: 5%;
    border-radius: 25px;
    width: 250px;
    height: 35px;
    
}
