@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    color: aliceblue;
}

.Greetings{
    margin-top: 3%;
    font-size: 35px;
}

.search-box{
    margin-top: 2%;
}
body{
    background: #2a3132;
    text-align: center;
}

table{
    width: 80%; 
    margin-top: 2%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
}

.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
}

.search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 200;
    line-height: 40px;
}

.searchbar:hover > .search_icon{
    background: black;
    color: #2a3132;
}


.search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:black;
    text-decoration:none;
}

.search_icon:hover{
    color: red;
}