<!DOCTYPE html>
{% load static %}
<html>

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link id="pagestyle" rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'css/style.css'%}">
<script type = "text/javascript" src ="{% static 'js/index.js' %}"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<title>Story 8 Ocit</title>

</head>

<body>
    {% if user.is_authenticated %}
        <h1 class="Sapa">Hai, {{ user.username }}</h1>
    {% endif %}
    <h1 class="Greetings">Cari buku disini</h1>
    {% if user.is_authenticated %}
        <form class="logout-link" action="{% url 'login:logout' %}" method="POST">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    {% endif %}
    <div class="search-box">
        <div class="d-flex justify-content-center h-100">
            <div class="searchbar">
                <input class="search_input" type="text" name="" placeholder="Search...">
                <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
            </div>
        </div>
    </div>  

    <table class="table table-striped table-bordered table">
            <thead class="thead-dark">
                <tr>
                    <th width = "20%" class="title text-center">Book Title</th>
                    <th width = "40%" class="desc text-center">Description</th>
                    <th width = "10%" class="link text-center">Author</th>
                    <th width = "30%" class="img text-center">Book Cover</th>
                </tr>
              
            </thead>

            <tbody>
            </tbody>
    </table>

</body>

</html>